<!--Main-->
<div class="main">
  <!--Main Content-->
  <div class="main__content">
    <!--About User-->
    <div class="about">
      <h2 class="about__position">Junior Frontend Developer</h2>
      <h1 class="about__name">Olesya Aldoshyna</h1>
      <p class="about__description">
        I am a front-end developer looking for a full-time job.
        I am diligent and ready to achieve the goals set before me.
        I work for the result, not for the visibility of the activity.
        At the moment I have deep knowledge HTML, CSS, JavaScript, React.
        Also, I have experience in using the Agile/Scrum methodology while working in a team.
        I have many years of experience in a team. 
        In my spare time I study English and Polish, I love going to the gym.
        I am a fast learner, responsible person and ready for challenges.
      </p>
    </div>
    <!--Projects-->
    <div class="projects">
      <h3 class="title">Project experience</h3>
      <ul class="projects__list">

<li class="projects__item">
          <span class="projects__bracket">
            WebStudio</span><a
              href="https://olesya-aldoshyna-0885.github.io/goit-markup-hw-08/"
              class="projects__link"
              target="_blank">Link</a
            ><span class="projects__wrap">[ HTML, SASS, JS, Parcel ] - individual project, website with responsive layout.</span>
        </li>

        <li class="projects__item">
          <span class="projects__bracket">
            Ice Cream</span><a
              href="https://olesya-aldoshyna-0885.github.io/team_project_ice-cream/"
              class="projects__link"
              target="_blank">Link</a
            ><span class="projects__wrap">[ HTML, SASS, JS, Parcel ] - team project, website with responsive layout. Role: Developer. Build section "Products" and helping to improve the design of other sections.</span>
        </li>

<li class="projects__item">
          <span class="projects__bracket">
            Image Search</span><a
              href="https://olesya-aldoshyna-0885.github.io/goit-js-hw-11/"
              class="projects__link"
              target="_blank">Link</a
            ><span class="projects__wrap">[ HTML, SASS, JS, REST API, AJAX, Parcel ] - individual project, front-end part of the application for searching and viewing images by keyword.</span>
        </li>
      </ul>
    </div>
    <!--Work-->
    <div class="work">
      <h3 class="title">Work Experience</h3>
      <!--Company 1-->
      <div>
        <h4 class="work-position">
          Head of Financial Service Point of the LLC "NovaPay" <span class="organization">full-time</span>
        </h4>
        <p class="period">
          March 2014 - July 2022 <span class="line">|</span> Ukraine
        </p>
        <ul class="work-list">
          <li class="work-list-item">
            <span class="work-list-text">
              - Work with bank documentation
              - Regulatory documents of the company
              - Registration of cash collection
              - Work with clients
              - Work with inspectors
              - Conflict resolution
              - Create team build
              </span>
          </li>
            <span class="work-list-text"
              >Achievement: according to the results of the audit in 2018, my department was noted as the best in the city in cash discipline and
              documentization
            </span>
        </ul>
      </div>
      <!--Company 2-->
      <div>
        <h4 class="work-position">
          Head of Department of the LLC "Nova Poshta" <span class="organization">full-time</span>
        </h4>
        <p class="period">
          March 2013 - July 2022 <span class="line">|</span> Ukraine
        </p>
        <ul class="work-list">
          <li class="work-list-item">
            <span class="work-list-text">
              - Provision of postal services and related logistics
              - Analysis of performance indicators
              - Training
              - Dealing with problem clients and situations
              - Monitoring the performance of the department
              - Workflow optimization
            </span>
          </li>
          <span class="work-list-text">
            Achievement: my department was 6 times in the top-10 of all departments our company in 2021. The employees I trained later became heads of new
            departments. Creased productivity by 27% in 2021.
          </span>
        </ul>
      </div>
      <!--Company 3-->
      <div>
        <h4 class="work-position">
          Office manager, storekeeper of the LLC "DNIPROVSK SPECIAL PIPE PLANT" <span class="organization">full-time</span>
        </h4>
        <p class="period">
          December 208 - November 2010 <span class="line">|</span> Ukraine
        </p>
        <ul class="work-list">
          <li class="work-list-item">
            <span class="work-list-text">
              - Work with technical and documentation and regulatory framework
              - Accounting and analysis of warehouse products
              - Work with auditing organizations
              - Keeping a time sheet of employees
              - Employee payroll
              - Organization of receptions
              - Development and standardization of quality certificates
            </span>
          </li>
          <span class="work-list-text">
            Achievement: Implemented special software, developed a standard product certificate, participated in the development of a
            standard product certificate, optimized the calculation of employees' working hours
          </span>
        </ul>
      </div>
    </div>
    <!--Education-->
    <div class="education">
      <h3 class="title">Education</h3>
      <h4 class="organization">GoIt School</h4>
      <h5 class="faculty">Fullstack Web-developer</h5>
      <p class="period">
        August 2022 - up to now <span class="line">|</span> UKRAINE
      </p>
      <h4 class="organization">Dnipro National University of Railway Transport</h4>
      <h5 class="faculty">Electrification, bachelor's degree, power engineer</h5>
      <p class="period">
        September 2002 - June 2007 <span class="line">|</span> UKRAINE
      </p>
    </div>
  </div>
  <!--Sidebar-->
  <aside class="sidebar">
    <img src="img/photo2.jpg" alt="user photo" class="foto" />
    <!--Contacts-->
    <div class="contacts">
      <h3 class="sidebar-title">Contacts</h3>

      <ul class="tech-skills-list">
        <li class="tech-skills-item">
          <span class="tech-skills-text"><a href="tel:+380966446191" class="contact-link">+38 096 644 61 91</a></span>
        </li>
        <li class="tech-skills-item">
          <span class="tech-skills-text"><a href="mailto:olesyaaldoshyna@gmail.com" class="contact-link"
            >olesyaaldoshyna@gmail.com</a
          ></span>
        </li>
        <li class="tech-skills-item">
          <span class="tech-skills-text"><a href="https://github.com/olesya-aldoshyna-0885" class="contact-link"
            >GitHub</a
          ></span>
        </li>
        <li class="tech-skills-item">
          <span class="tech-skills-text"><a href="https://www.linkedin.com/in/olesya-aldoshyna-676892272/" class="contact-link"
            >Linkedin</a
          ></span>
        </li>
        <li class="tech-skills-item">
          <span class="tech-skills-text"><a href="https://instagram.com/aldoshina_elis?igshid=YmMyMTA2M2Y="
              class="contact-link">Instagram</a></span>
        </li>
    </div>
    <!--Tech Skills-->
    <div class="tech-skills">
      <h3 class="sidebar-title">Tech Skills</h3>
      <ul class="tech-skills-list">
        <li class="tech-skills-item">
          <span class="tech-skills-text">HTML</span>
        </li>
        <li class="tech-skills-item">
          <span class="tech-skills-text">CSS</span>
        </li>
        <li class="tech-skills-item">
          <span class="tech-skills-text">Responsive/Adaptive design</span>
        </li>
        <li class="tech-skills-item">
          <span class="tech-skills-text">JavaScript</span>
        </li>
        <li class="tech-skills-item">
          <span class="tech-skills-text">REST API</span>
        </li>
        <li class="tech-skills-item">
          <span class="tech-skills-text">React</span>
        </li>
        <li class="tech-skills-item">
          <span class="tech-skills-text">GIT</span>
        </li>
        <li class="tech-skills-item">
          <span class="tech-skills-text">Parcel</span>
        </li>
        <li class="tech-skills-item">
          <span class="tech-skills-text">WebPack</span>
        </li>
        <li class="tech-skills-item">
          <span class="tech-skills-text">Adobe Photoshop</span>
        </li>
      </ul>
    </div>
    <!--Soft Skills-->
    <div class="soft-skills">
      <h3 class="sidebar-title">Soft Skills</h3>
      <ul class="tech-skills-list">
        <li class="tech-skills-item">
          <span class="tech-skills-text">Creativity</span>
        </li>
        <li class="tech-skills-item">
          <span class="tech-skills-text">Attention to details</span>
        </li>
        <li class="tech-skills-item">
          <span class="tech-skills-text">Teamwork</span>
        </li>
        <li class="tech-skills-item">
          <span class="tech-skills-text">Hardworking</span>
        </li>
        <li class="tech-skills-item">
          <span class="tech-skills-text">Stress resistance</span>
        </li>
      </ul>
    </div>

    <!--Languages Skills-->
    <div class="soft-skills">
      <h3 class="sidebar-title">Languages Skills</h3>
      <ul class="tech-skills-list">
        <li class="tech-skills-item">
          <span class="tech-skills-text">English : pre-intermediate</span>
        </li>
        <li class="tech-skills-item">
          <span class="tech-skills-text">Polish : elementary</span>
        </li>
        <li class="tech-skills-item">
          <span class="tech-skills-text">Ukrainian : native</span>
        </li>
      </ul>
    </div>
  </aside>
</div>
